<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/navigation.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Toudou | default</title>
    </head>
    <body>
        <nav id="navigation">
            <a href="/">
                <img src="/static/imgs/Logo_Todo.png" id="logo" alt="">
            </a>
        </nav>
        <main>
            <div id="plus-button-wrapper">
                <div id="plus-button-options" class="plus-button-options">
                    <ul>
                        <li>
                            <a href="view">
                                <img class="nav1" src="/static/svgs/visibility.svg" alt="" srcset="">
                            </a>
                        </li>
                        <li>
                            <a href="add">
                                <img class="nav2" src="/static/svgs/new.svg" alt="" srcset="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="plus-button" class="plus-button"><img id="x-svg" class="x-svg" src="/static/svgs/plus.svg" alt="" srcset=""></div>
            </div>
        </main>
        <script src="/static/js/plus_menu.js"></script>
    </body>
</html>